<footer class="bg-blue-900 p-4 text-white text-center">
    <p>&copy; 2024 Clinix Couture. All rights reserved.</p>
    <p>Follow us on 
        <a href="https://www.facebook.com/pemirecars" class="underline">Facebook</a> and 
        <a href="https://www.instagram.com/pemiremotors/" class="underline">Instagram</a>.
    </p>
</footer>
